<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.yunqihui.yunqihuicloud.mapper.SmsContentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.yunqihui.autoconfigure.sms.entity.SmsContent">
        <id column="id" property="id"/>
        <result column="verify" property="verify"/>
        <result column="type" property="type"/>
        <result column="templateCode" property="templateCode"/>
        <result column="del" property="del"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, verify, type, templateCode, del
    </sql>

</mapper>
