<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.yunqihui.autoconfigure.wechat.mapper.PlatformsFastRegisterFailedHisMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.yunqihui.autoconfigure.wechat.entity.PlatformsFastRegisterFailedHis">
        <id column="id" property="id" />
        <result column="fast_register_id" property="fastRegisterId" />
        <result column="error_code" property="errorCode" />
        <result column="errmsg" property="errmsg" />
        <result column="create_time" property="createTime" />
        <result column="state" property="state" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, fast_register_id, error_code, errmsg, create_time, state, update_time
    </sql>

</mapper>
