<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springlego.autoconfigure.user.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.springlego.autoconfigure.user.entity.Menu">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="pid" property="pid" />
        <result column="title" property="title" />
        <result column="pageurl" property="pageurl" />
        <result column="method" property="method" />
        <result column="type" property="type" />
        <result column="del" property="del" />
        <result column="sortno" property="sortno" />
        <result column="icon" property="icon" />
        <result column="top_router" property="topRouter" />
        <result column="router" property="router" />
        <result column="component" property="component" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, pid, description, pageurl, type, del, sortno, menu_icon
    </sql>


    <select id="getMenusByUserId" resultMap="BaseResultMap">
        SELECT
            m.*
        FROM
            t_menu m,
            t_role_menu rm,
            t_user_role ur
        WHERE
            ur.user_id = #{userId}
        AND ur.role_id = rm.role_id
        AND m.id = rm.menu_id
        AND m.del = #{del}
        <if test="menuType != null">
            AND m.type = #{menuType}
        </if>
        <if test="pid != null">
            AND m.pid = #{pid}
        </if>
        ORDER BY
            m.sortno ASC,
            m.id ASC
    </select>
</mapper>
