<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.yunqihui.autoconfigure.user.mybatis.mapper.RoleMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.yunqihui.autoconfigure.user.entity.RoleMenu">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="menu_id" property="menuId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_id, menu_id
    </sql>

    <select id="selectRoleMenus" resultType="java.util.HashMap">
        select  CONCAT(re.pageurl, "==",UCASE(re.method)) as url,GROUP_CONCAT(rol.code ORDER BY re.pageurl) as needRoles
        from t_menu re
        LEFT JOIN t_role_menu ro on re.id = ro.menu_id
        LEFT JOIN t_role rol on ro.role_id = rol.id
        where re.type = 2
        GROUP BY
        re.pageurl,re.id
    </select>
</mapper>
